.m-button {
    height: 15px;
    border: solid 1px #99b1ed;
    background-color: #e4eafa;
    padding: 7px;
    white-space: nowrap;
    font-size: 13px;
    font-weight: bold;
    color: #2e4987;
    border-radius: 4px;
    text-shadow: #fff 0 1px 0;
    box-shadow: 0 1px 0 #e1e9fc;
    float: left;
    position: relative;
}
.m-button-pressed {
    border-color: #4d6fb9;
    background-color: #6592df;
    background-position: top right;
    color: #fff;
    text-shadow: #2e4987 0 1px 0;
}
.nav-bar {
    position: relative;
    border-top: 1px solid #a0b6e6;
    padding: 4px;
    background: -webkit-gradient(linear,left top,left bottom,from(#d9e2fa),to(#b5c8f9));
    background: -webkit-linear-gradient(top,#d9e2fa,#b5c8f9);
    background: -moz-linear-gradient(top,#d9e2fa,#b5c8f9);
    background: -ms-linear-gradient(top,#d9e2fa,#b5c8f9);
    background: -o-linear-gradient(top,#d9e2fa,#b5c8f9);
    background-color: #dbe3fa;
    border-bottom: solid 1px #9eadd2;
    z-index: 3;
}
.nav-bar-container .g2tt-menu {
    margin-top: 5px;
    z-index: 2;
}
.nav-bar-container {
    position: relative;
    z-index: 10;
}
.gp4 .nav-bar,
#entries-footer.nav-bar { border-top: none }
.nav-table {
    width: 100%;
    height: 30px;
}
.nav-table-left,
.nav-table-right {
    vertical-align: middle;
    width: 70px;
}
.nav-table-left a { text-decoration: none }
.nav-table-right { text-align: right }
#header-refresh,
#header-menu { float: right;    width: 15px;
 }
#header-refresh .m-button-contents,
#header-menu .m-button-contents {
    width: 16px;
    height: 16px;
    background: none;
    left: 6px;
    display: block;
}

#header-menu { margin-left: 6px }

#header-menu .m-button-contents {
position: absolute;
top: 3px;
}
#header-refresh .m-button-contents {
position: absolute;
top: 8px;
}
#header-menu.m-button-pressed .m-button-contents {
    }

.nav-table-middle {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: #182647;
    vertical-align: middle;
    overflow: hidden;
    text-shadow: #fff 0 1px 1px;
}
a.logo {
    margin-top: 3px;
    width: 139px;
    height: 28px;
    display: block;
}
.nav-left { float: left }
.nav-right { float: right }
#viewer-bottom-links {
    border-bottom: 1px solid #a0b6e6;
    padding: 8px 5px;
    font-size: 12px;
    color: #000;
    overflow: auto;
}
#viewer-bottom-links #mark-these-read {
    color: #24b;
    text-decoration: underline;
    white-space: nowrap;
    cursor: pointer;
}
.loading #viewer-bottom-links #mark-these-read,
.disabled-actions #viewer-bottom-links #mark-these-read,
.empty-stream #viewer-bottom-links #mark-these-read {
    color: #999;
    text-decoration: none;
}
.tags-edit-save { margin-right: 5px }
.tags-edit-area .m-button { float: right }
.ac-renderer {
    border: 1px solid #666;
    background: #eee;
    color: #000;
    z-index: 20000;
    position: absolute;
}
.ac-renderer .ac-row { padding: 1px 3px }
.ac-renderer .active { background: #bbb }
.g2tt-contacts-ui-autocomplete-new-section {
    border-top: 1px solid #666;
    padding-top: 2px;
}

body {
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 13px;
    -webkit-text-size-adjust: none;
}
body.portrait { min-height: 480px }
body.landscape { min-height: 320px }
.logo { margin-left: 3px }
.logo img { border: 0 }
.text {
    padding: 8px 5px;
    vertical-align: middle;
}
.larger {
    font-size: 15px;
    line-height: 24px;
}
.padded { padding: 8px 5px 6px }
.no-margin { margin: 0; }
.line-top { border-top: 1px solid #c2cff1 }
.whisper { color: #666 }
.hidden { display: none !important; }
.invisible { visibility: hidden }
#loading-area-container {
    background-position: left;
    z-index: 10001;
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
    display: none;
}
.loading #loading-area-container:not(.hidden) { display: block }
#loading-area-container p {
    font-weight: bold;
    padding: 0 3px 0 20px;
    margin: 0;
    color:#24b;
    font-size:16px;
}
#entries {
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#entries-footer {
    position: relative;
    overflow: hidden;
}
#show-more-row {
    min-height: 40px;
    overflow: auto;
    padding: 10px 0 10px 32px;
    cursor: pointer;
}
.empty-stream #show-more-row,
.loading .entries-total { display: none }
.loading #show-more-row,
#loading-area-container {
  }

.load-more-message {
    font-size: 15px;
    font-weight: bold;
    color: #24b;
}
.loading .load-more-message { color: #ebeff9 }
.entries-total {
    color: #666;
    font-size: 12px;
}
#entries-footer-buttons {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
.footer {
    text-align: center;
    padding: 10px 5px 5px;
}
.footer-help { margin: 10px 0 }
.interruption {
    border-bottom: 1px solid #c2cff1;
    text-align: center;
    padding: 5px;
}
a,
a:visited,
.link { color: #24b }
.link {
    text-decoration: underline;
    cursor: pointer;
}
.buttons { overflow: hidden }
.ac-renderer .ac-row {
    line-height: 18px;
    font-size: 13px;
    padding: 5px;
}
.entry-row {
    padding: 10px 0 10px 32px;
}
.created .sub-header { display: none }

.img-toggle-container {
    display: block;
    padding: 15px 0 10px;
}
.img-toggle {
    background: 0 4px no-repeat;
    margin: 0 0 5px;
    padding-left: 12px;
    padding-right: 20px;
    text-decoration: underline;
    color: #24b;
    text-align: left;
    display: inline;
}

.alt-text-display {
    border: 1px solid black;
    width: auto;
    text-align: center;
    padding: 3px 2px;
    border-radius: 3px;
    margin-right: 26px;
    background: #ff8;
}

.action-area,
.tags-edit-active .entry-tagging-action-title {
    background-color: #dbe3fa;
    padding-bottom: 2px;
    margin-bottom: 0;
}
.action-area-container {
    margin-top: 0;
    padding-top: 0;
    overflow: auto;
}
.action-area {
    padding: 5px;
    margin-top: 0;
}
.action-area .tags-edit-area { padding: 5px 18px 5px 5px }
.tags-edit-area input {
    font-size: 13px;
    width: 100%;
    margin-bottom: 10px;
}
.email-action-link { text-decoration: none }
#subscriptions-list { margin-bottom: 1.5em }
.row {
    overflow: auto;
    width: 100%;
    display: table;
}
.show-unread .no-unread-sub-row { display: none }
.sub-row { border-bottom: 1px solid #c2cff1 }
.item-title,
.item-title-collapsed {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.item-title-link { color: #24b }
.read .item-title,
.read .item-title-collapsed { font-weight: normal }
.expanded .item-title { display: inline }
.item-snippet {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sub-row .icon-cell {
    display: table-cell;
    width: 16px;
    vertical-align: middle;
    padding: 0 2px 0 5px;
}
.sub-row .icon {
    width: 16px;
    height: 16px;
    float: right;
}

.nested-sub .icon-cell { width: 32px }
.sub-read .icon { display: none }
.add-sub { padding: 12px 0 12px 16px }
.sub-item {
    padding-left: 0;
    color: #000;
    font-size: 15px;
    overflow: hidden;
}
.sub-link { text-decoration: none }
.unread-sub { font-weight: bold }
.item-count-value {
    font-weight: bold;
    margin-right: 5px;
}
.item-count {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}
.no-item-count .item-count { display: none }
.item-source {
    color: #666;
    font-weight: bold;
}
.single-source .item-source-title { display: none }
.g2tt-menu {
    background-color: #fff;
    border: solid 1px rgba(27,47,94,0.4);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    position: absolute;
    overflow: hidden;
    outline: 0;
    border-radius: 0 0 10px 10px;
}
.g2tt-menuitem {
    font-size: 13px;
    color: #333;
    padding: 5px 8px 5px 24px;
    line-height: 21px;
    white-space: nowrap;
    position: relative;
}
.g2tt-menuitem-checkbox {
    height: 16px;
    width: 14px;
    left: 6px;
    position: absolute;
}


.g2tt-menuitem-checkbox i{
display: none;
height: 15px;
width: 15px;
left: -1px;
top: 3px;
color: #2A5DB0;
position:absolute;
}

.g2tt-option-selected .g2tt-menuitem-checkbox i {
    display:block;
}
.g2tt-menuseparator { border-top: 1px solid #ccc }
#settings { padding: 5px }
.option-name,
.settings-section-header {
    font-size: 120%;
    font-weight: bold;
}
.settings-section-header { margin-bottom: 5px }
.settings-section {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.settings-section select {
    margin-left: 10px;
    font-size: 1em;
}

.notification-header {
    min-height: 16px;
    padding: 6px 5px 0;
    font-size: 12px;
    border-top: 1px solid #a0b6e6;
}
.successful-notification { background-color: #fad163 }
.failed-notification { background-color: #fc4d4d }
#preview-interruption {
    min-height: 16px;
    padding: 6px 5px 0;
    font-size: 12px;
    background-color: #fad163;
    border-bottom: 1px solid #a0b6e6;
    overflow: auto;
}
#preview-interruption .subscribe-button {
    margin-top: 5px;
    margin-bottom: 5px;
}
.sub-search-result-row {
    max-height: 60px;
    min-height: 60px;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #c2cff1;
    padding: 5px 3px;
    display: table;
}


/* Added */
#feed img {
    max-width: 100%;
    height: auto;
}

.entry-contents {
    display: none;
}
.expanded .entry-contents {
    display: block;
}

  h2 {
  color: #222;
  font-size: 1.54em;
  font-weight: normal;
  line-height: 24px;
  margin: 0 0 .46em;
  }
.login {
  margin: 0 auto;
  width: 650px;
  padding-top: 23px;
  padding-bottom: 100px;
  background: #f1f1f1;
}
  .login h1:first-child {
  margin: 0 0 .92em;
}
.login {
  width: auto;
  max-width: 480px;
  padding-bottom: 100px;
}
  .content {
  padding: 10px;
  }
    .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '.';
  clear: both;
  height: 0;
  }
  * html .clearfix {
  zoom: 1;
  }
  *:first-child+html .clearfix {
  zoom: 1;
  }
    .signin-box,
  .accountchooser-box {
  margin: -4px 0 0;
  }
  .signin-box h2 {
  font-size: 17px !important;
  }
  .signin-box #Username,
  .signin-box #Passwd {
  height: 37px;
  }
  .signin-box label.remember {
  margin-top: 13px !important;
  margin-left: 1em !important;
  }
  .signin-box .g-button {
  height: 37px !important;
  line-height: 37px !important;
  padding-left: 14px;
  padding-right: 14px;
  }
    .signin-box ul li {
  margin: 1.3em 0;
  }
  .signin-box ul li:first-of-type {
  margin-top: .7em;
  }
  .signin-box input::-webkit-input-placeholder {
  display: none;
  }
    .signin-box h2 {
  font-size: 16px;
  line-height: 17px;
  height: 16px;
  margin: 0 0 1.2em;
  position: relative;
  }

  @media only screen and (-webkit-device-pixel-ratio: 2){
  .signin-box h2 strong {
  background-size: 52px 19px;
  }
  }
  .signin-box div {
  margin: 0 0 1.5em;
  }
  .signin-box label {
  display: block;
  }
  .signin-box input[type=username],
  .signin-box input[type=text],
  .signin-box input[type=password] {
  width: 100%;
  height: 32px;
  font-size: 15px;
  direction: ltr;
  }
  .signin-box .username-label,
  .signin-box .passwd-label {
  font-weight: bold;
  margin: 0 0 .5em;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  }
  .signin-box .reauth {
  display: inline-block;
  font-size: 15px;
  height: 29px;
  line-height: 29px;
  margin: 0;
  }
  .signin-box label.remember {
  display: inline-block;
  vertical-align: top;
  margin: 9px 0 0;
  }
  .signin-box .remember-label {
  font-weight: normal;
  color: #666;
  line-height: 0;
  padding: 0 0 0 .4em;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  }
  .signin-box input[type=submit] {
  margin: 0 1.5em 1.2em 0;
  height: 32px;
  font-size: 13px;
  }
  .signin-box ul {
  margin: 0;
  }
  .signin-box .training-msg {
  padding: .5em 8px;
  background: #f9edbe;
  }
  .signin-box .training-msg p {
  margin: 0 0 .5em;
  }
    strong {
  color: #222;
  }
    input[type=username],
  input[type=password], {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  height: 29px;
  margin: 0;
  padding: 0 8px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  }
  input[type=username]:hover,
  input[type=password]:hover, {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }
  input[type=username]:focus,
  input[type=password]:focus, {
  outline: none;
  border: 1px solid #4d90fe;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  }
  input[type=username][disabled=disabled],
  input[type=password][disabled=disabled] {
  border: 1px solid #e5e5e5;
  background: #f1f1f1;
  }
  input[type=username][disabled=disabled]:hover,
  input[type=password][disabled=disabled]:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  }
  input[type=username][readonly=readonly],
  input[type=password][readonly=readonly] {
  border: 1px solid #d9d9d9;
  }
  input[type=username][readonly=readonly]:hover,
  input[type=password][readonly=readonly]:hover,
  input[type=username][readonly=readonly]:focus,
  input[type=password][readonly=readonly]:focus, {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  }
  input[type=username].form-error,
  input[type=password].form-error,{
  border: 1px solid #dd4b39;
  }
   button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
  border: 0;
  }


  .g-button {
  display: inline-block;
  min-width: 46px;
  text-align: center;
  color: #444;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  padding: 0 8px;
  line-height: 27px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -ms-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  border: 1px solid #dcdcdc;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  }
  *+html .g-button {
  min-width: 70px;
  }
  button.g-button,
  input[type=submit].g-button {
  height: 29px;
  line-height: 29px;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
  }
  *+html button.g-button,
  *+html input[type=submit].g-button {
  overflow: visible;
  }
  .g-button:hover {
  border: 1px solid #c6c6c6;
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -ms-transition: all 0.0s;
  -o-transition: all 0.0s;
  transition: all 0.0s;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }
  .g-button:active {
  background-color: #f6f6f6;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: -o-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: linear-gradient(top,#f6f6f6,#f1f1f1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }
  .g-button:visited {
  color: #666;
  }
  .g-button-submit {
  border: 1px solid #3079ed;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
  }
  .g-button-submit:hover {
  border: 1px solid #2f5bb7;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
  background-image: linear-gradient(top,#4d90fe,#357ae8);
  }
  .g-button-submit:active {
  background-color: #357ae8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
  background-image: linear-gradient(top,#4d90fe,#357ae8);
  -webkit-box-shadow: inset 0 1px 2px rgb   a(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  }
    .g-button-red:visited,
  .g-button-share:visited,
  .g-button-submit:visited {
  color: #fff;
  }
  .g-button-submit:focus,
  .g-button-share:focus,
  .g-button-red:focus {
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  -moz-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff;
  }
    .g-button-submit:focus:hover,
  .g-button-share:focus:hover,
  .g-button-red:focus:hover {
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0,0,0,0.1);
  }
  .g-button.selected {
  background-color: #eee;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#eee),to(#e0e0e0));
  background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
  background-image: -moz-linear-gradient(top,#eee,#e0e0e0);
  background-image: -ms-linear-gradient(top,#eee,#e0e0e0);
  background-image: -o-linear-gradient(top,#eee,#e0e0e0);
  background-image: linear-gradient(top,#eee,#e0e0e0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  border: 1px solid #ccc;
  color: #333;
  }
  .g-button img {
  display: inline-block;
  margin: -3px 0 0;
  opacity: .55;
  filter: alpha(opacity=55);
  vertical-align: middle;
  pointer-events: none;
  }
  *+html .g-button img {
  margin: 4px 0 0;
  }
  .g-button:hover img {
  opacity: .72;
  filter: alpha(opacity=72);
  }
  .g-button:active img {
  opacity: 1;
  filter: alpha(opacity=100);
  }
  .g-button.disabled img {
  opacity: .5;
  filter: alpha(opacity=50);
  }
  .g-button.disabled,
  .g-button.disabled:hover,
  .g-button.disabled:active,
  .g-button-submit.disabled,
  .g-button-submit.disabled:hover,
  .g-button-submit.disabled:active,
  .g-button-share.disabled,
  .g-button-share.disabled:hover,
  .g-button-share.disabled:active,
  .g-button-red.disabled,
  .g-button-red.disabled:hover,
  .g-button-red.disabled:active,
  input[type=submit][disabled].g-button {
  background-color: none;
  opacity: .5;
  filter: alpha(opacity=50);
  cursor: default;
  pointer-events: none;
  }

  .blueCheck {
  position: absolute;
top: 8px;
left: 4px;
color: #2A5DB0;
  }

  .header {
    margin: auto;
    position: relative;
    width: 300px;
    padding: 0px;
  }


/* Icons */
.entry-icons i {
top: 6px;
position: absolute;
}

.starBorder {
color:#a0b6e6;
font-weight:bold;
z-index:10;
}

.starNotActive {
    color: white;

}
.starActive {
color:yellow;
}

.fa-folder-open {
color:#F2CA87;
}
.fa-folder {
color:#F2CA87;
float:right;
margin-right:4px;
}

.fa-rss-square {
color: #8E95E9;
float: right;
margin-right: 4px;
}

/* Replace icon font with images */
*[class^=fa] {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('mobile-sprite.png');
    background-repeat: no-repeat;
}

i.fa-spinner, /* need a special icon for spinner */
i.fa-repeat {
    background-position: -36px -242px;
}

i.fa-angle-double-down {
    background-position: -34px -272px;
}

i.fa-angle-double-up {
    background-position: -34px -303px;
}

i.fa-check {
    background-position: -12px -277px;
}

i.starNotActive {
    width: 20px;
    height: 20px;
    background-position: -139px -31px;
}

i.starActive {
    width: 20px;
    height: 20px;
    background-position: -159px -31px;
}

i.starBorder {
    background: none;
}

i.fa-folder {
    height: 14px;
    background-position: -66px -86px;
}

i.fa-folder-open {
    height: 14px;
    background-position: -40px -86px;
}

i.fa-square-o {
    width: 10px;
    height: 10px;
    background-position: -88px -242px;
}

i.fa-check-square-o {
    width: 12px;
    height: 10px;
    background-position: -88px -220px;
}

i.fa-envelope-o {
    width: 12px;
    height: 9px;
    background-position: -89px -123px;
}

i.fa-rss-square {
    width: 11px;
    height: 11px;
    background-position: -93px -61px;
}

i.fa-arrow-down {
    width: 8px;
    height: 9px;
    background-position: -37px -192px;
}

i.fa-bars {
    width: 10px;
    height: 10px;
    background-position: -37px -176px;
}